$font-default: 'Poppins', Arial, sans-serif;
$font-serif: 'Hedvig Letters Serif', 'Times New Roman', serif;

$color-01: #31827c;
$color-02: #95c68f;
$color-03: #f7e9aa;
$color-04: #fc8a80;
$color-05: #fd4e6d;

$transition-duration: 0.5s;
$transition: all $transition-duration;

$header-height: 125px;
