@import '../../../styles/variables';

.Header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   height: $header-height;
   padding: 20px 50px;
   background-color: transparent;
   backdrop-filter: blur(6px);
   display: flex;
   justify-content: space-between;
   align-items: center;

   img {
      width: 170px;
      transition: $transition;
      cursor: pointer;

      &:hover {
         transform: scale(103%);
      }
   }

   .header-interations {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      &-icon {
         font-size: 1.3rem;
         cursor: pointer;
         transition: $transition;

         &:hover {
            color: $color-01;
         }
      }
   }

   .header-icon-menu {
      display: none;
   }
}

@import 'Header_rpsv.scss';