@import '../../../styles/variables';

.Contact {
   margin-top: 200px;
   padding: 0 30px;
   display: flex;
   justify-content: center;
   align-items: center;

   form {
      position: relative;
      width: 100%;
      max-width: 500px;
      padding: 30px 200px 30px 30px;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.213);

      h2 {
         font-size: 1.6rem;
         font-weight: 500;
      }

      label {
         margin-top: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 4px;

         span {
            font-size: 0.9rem;
            opacity: 0.9;
         }

         textarea {
            height: 75px;
            resize: none;
         }
      }

      button {
         margin-top: 20px;
         background-color: rgb(64, 64, 64);
         color: white;

         &:hover {
            background-color: darken($color-03, 10);
            color: black;
         }
      }

      .Form-infos {
         display: flex;
         position: absolute;
         top: 50%;
         right: calc(-50% + -50px);
         transform: translate(-50%, -50%);
      }
   }

   .Form-infos {
      width: 300px;
      padding: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-color: rgb(32, 32, 32);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      h3 {
         font-size: 1.3rem;
         font-weight: 500;
         color: $color-05;
      }

      .Form-info {
         display: flex;
         align-items: center;
         gap: 10px;

         &-icon {
            font-size: 1.2rem;
         }
      }

      display: none;
   }
}

@import 'Contact_rpsv.scss';
