.Contact {
   @media (max-width: 900px) {
      & {
         flex-direction: column-reverse;
         gap: 20px;
         
         form {
            max-width: 400px;
            padding: 30px;

            .Form-infos {
               display: none;
            }
         }

         .Form-infos {
            display: flex;
            text-align: center;

            .Form-info {
               justify-content: center;
               align-items: center;
            }
         }
      }
   }
}