@import '../../../styles/variables';

.CartProduct {
   text-align: center;

   td {
      height: 105.5px;
      padding: 10px;
      border-bottom: 1px solid #c1c1c1e5;
   }

   td:nth-child(1) {
      width: auto;

      > div {
         width: auto;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 30px;
         cursor: pointer;

         img {
            width: auto;
            max-width: 75px;
            height: 70px;
            transition: $transition;
         }

         h3 {
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: capitalize;
         }

         .category {
            font-size: 0.95rem;
         }

         &:hover {
            img {
               transform: scale(106%);
               transition: $transition;
            }
         }
      }
   }

   td:nth-child(3) {
      div {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 12px;
      }

      button {
         $bg-color: #ababab;
         min-width: initial;
         width: 30px;
         background-color: $bg-color;

         &:hover {
            background-color: darken($bg-color, 10);
         }
      }
   }

   td:last-child {
      .rm-icon {
         text-align: center;
         vertical-align: middle;
         font-size: 1.2rem;
         cursor: pointer;
         transition: $transition;

         &:hover {
            color: red;
         }
      }
   }
}
