@import '../../../../styles/variables';

.CardProductPill {
   min-width: 250px;
   max-width: 260px;
   padding: 20px;
   text-align: center;
   // background-color: red;
   border-radius: 15px;
   border: 1px solid transparent;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   transition: all 0.2s;

   &:hover {
      border: 1px solid rgba($color-01, 10);
   }
}