.Cart {
   @media (max-width: 700px) {
      & {
         .container {
            display: block;
            max-width: 700px;

            table {
               margin: auto;
               width: auto;
               min-width: 700px;
               overflow-x: auto;
            }

            .summary {
               margin: 50px auto 0 auto;
            }
         }
      }
   }
}
