@import '../../../styles/variables';

.Navigation {
   ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li,
      a {
         text-decoration: none;
         cursor: pointer;
         transition: $transition;
      }

      // Flex Direction options
      &.direction--row {
         flex-direction: row;
      }

      &.direction--column {
         flex-direction: column;
      }

      // Colors options
      &.color--dark {
         li,
         a {
            color: black;

            &:hover {
               color: $color-02;
            }
         }
      }
      &.color--light {
         li,
         a {
            color: white;

            &:hover {
               color: $color-01;
            }
         }
      }

      // Font Size options
      &.fontSize--small {
         li,
         a {
            font-size: 0.9rem;
         }
      }
      &.fontSize--big {
         li,
         a {
            font-size: 1.15rem;
         }
      }
   }
}
