.HeroSlide {
   @media (max-width: 1200px) {
      & {
         flex-direction: column-reverse;
         gap: 30px;

         .hero-slide-content {
            width: 100%;
            padding: 0 30px;
            text-align: center;

            .hero-slide-description, .hero-slide-title {
               margin: 10px auto 0 auto;
            }
            
            button {
               margin: 15px auto 0 auto;
            }
         }

         .hero-slide-image {
            width: 100%;
            padding: 0;
            justify-content: center;
      
            img {
               width: 100%;
               height: auto;
               max-height: none;
               max-width: 120px;
            }
         }
      }
   }
}